#!/usr/bin/make -f

export DH_VERBOSE = 1

%:
	dh $@ --buildsystem=cmake+ninja

override_dh_auto_configure:
	dh_auto_configure -- \
	  -DCMAKE_BUILD_TYPE=RelWithDebInfo \
	  -DLLVM_TARGETS_TO_BUILD="Hexagon;AArch64;ARM;RISCV;X86" \
	  -DLLVM_DEFAULT_TARGET_TRIPLE=x86_64-unknown-linux-gnu \
	  -DCMAKE_SKIP_RPATH=ON \
	  -DELD_CREATE_SYMLINKS=OFF \
	  -DPACKAGE_VERSION=19.0.0 \
	  -DLLVM_DIR=/usr/lib/llvm-19/lib/cmake/llvm \
	  -DELD_INSTALL_LINKER_SCRIPT_TEMPLATES=ON \
	  -DCMAKE_INSTALL_PREFIX=/usr \
	  -DELD_YAML_MAP_PARSER_DEST_DIR=bin

override_dh_auto_test:
ifeq (,$(filter nocheck,$(DEB_BUILD_OPTIONS)))
	dh_auto_test
endif

override_dh_auto_install:
	dh_auto_install
	# Move templates to the standard share directory
	if [ -d debian/tmp/usr/templates ]; then \
	  mkdir -p debian/tmp/usr/share/eld/templates; \
	  cp -a debian/tmp/usr/templates/* debian/tmp/usr/share/eld/templates/; \
	  rm -rf debian/tmp/usr/templates; \
	fi
